
    <!-- <div class = "header">

        <a href="http://gooool.org/"><button class="btn"><img src="images/iconHome.png" id = "myImg"></button> </a>
        <h1 class="myTitle">Give&Get</h1>
        <a><button class="logUP">Log UP</button></a>
        <a><button class="logIN">Log In</button> </a>
        <a><button class="job">To Offer a Job</button></a>
    </div> -->
    <div>
        <div class = "u_header">
              <div class = "search">
                <input type = "text"  placeholder="Search a Job" id = "myInput">
                <button type="button" id = "go">Search</button>
              </div>
              <div class = "category">
                <h5>Categroies</h5>
                <a><button id = "IT" class = "myCategories">IT</button></a>
                <a><button id = "Technical" class = "myCategories">Technical</button></a>
                <a><button id = "HomeWork"  class = "myCategories">HomeWork</button></a>
              </div>
        </div>
               <div class = "myJobs">
                   <ul>
                       <li>
                           <span class="job_name">Job_Name</span>
                           <span class = "li_category">category</span>
                           <span class = "user_name">Name of FF</span>
                           <span class = "s_desc">Short Description</span>
                           <span class = "price">Price</span>
                       </li>
                       <li>
                            <span class="job_name">Job_Name</span>
                            <span class = "li_category">category</span>
                            <span class = "user_name">Name of FF</span>
                            <span class = "s_desc">Short Description</span>
                            <span class = "price">Price</span>
                       </li>
                       <li>
                            <span class="job_name">Job_Name</span>
                            <span class = "li_category">category</span>
                            <span class = "user_name">Name of FF</span>
                            <span class = "s_desc">Short Description</span>
                            <span class = "price">Price</span>
                       </li>
                       <li>
                            <span class="job_name">Job_Name</span>
                            <span class = "li_category">category</span>
                            <span class = "user_name">Name of FF</span>
                            <span class = "s_desc">Short Description</span>
                            <span class = "price">Price</span>
                       </li>
                       <li>
                            <span class="job_name">Job_Name</span>
                            <span class = "li_category">category</span>
                            <span class = "user_name">Name of FF</span>
                            <span class = "s_desc">Short Description</span>
                            <span class = "price">Price</span>
                       </li>
                       <li>
                            <span class="job_name">Job_Name</span>
                            <span class = "li_category">category</span>
                            <span class = "user_name">Name of FF</span>
                            <span class = "s_desc">Short Description</span>
                            <span class = "price">Price</span>
                       </li>
                       <li>
                            <span class="job_name">Job_Name</span>
                            <span class = "li_category">category</span>
                            <span class = "user_name">Name of FF</span>
                            <span class = "s_desc">Short Description</span>
                            <span class = "price">Price</span>
                       </li>
                       <li>
                            <span class="job_name">Job_Name</span>
                            <span class = "li_category">category</span>
                            <span class = "user_name">Name of FF</span>
                            <span class = "s_desc">Short Description</span>
                            <span class = "price">Price</span>
                       </li>
                       <li>
                            <span class="job_name">Job_Name</span>
                            <span class = "li_category">category</span>
                            <span class = "user_name">Name of FF</span>
                            <span class = "s_desc">Short Description</span>
                            <span class = "price">Price</span>
                       </li>
                       <li>
                            <span class="job_name">Job_Name</span>
                            <span class = "li_category">category</span>
                            <span class = "user_name">Name of FF</span>
                            <span class = "s_desc">Short Description</span>
                            <span class = "price">Price</span>
                       </li>

                   </ul>
               </div>

  </div>
