<!doctype html>
<html>
    <head>
        <title>Registration page</title>
    </head>
    <body>
        <h1>Please, fill the following form to sign up</h1><br>
        <div class="container">
            <form id="borderimg">
                First Name:<input type="text" name="firstname" placeholder="First Name"><br>
                Last Name:<input type="text" name="lastname" placeholder="Last Name"><br>
                Gender:<input type="radio" name="gender" value="male" checked>Male
                <input type="radio" name="gender" value="female">Female<br>
                E-mail:<input type="email" name="email"><br>
                Birthday: <input type="month" name="bmonth"><br>
            </form>
        </div>
    </body>
</html>
