<div class="page-footer">
  <div class="one-two-three">
    <div class="one">
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About us</h5>
      <p>The functionality is build on giving and finding a one-time job. The case can be any (IT, household work, delivery, paper work etc.)</p>
    </div>
    <div class="two">
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Our contacts</h5>
      <ul class="list-unstyled">
        <li>
          + 7 707 924 0620
        </li>
        <li>
          giveandget@gmail.com
        </li>
        <li>
          + 8 727 322 1219
        </li>
      </ul>
    </div>
    <div class="three">
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Useful links</h5>
      <ul class="list-unstyled">
        <li>
          <a href="https://almaty.hh.kz/">Go to HeadHunter</a>
        </li>
        <li>
          <a href="https://www.olx.kz/">Go to OLX</a>
        </li>
        <li>
          <a href="https://rabotanur.kz/">Go to RabotaNur</a>
        </li>
        <li>
          <a href="https://zarplata.kz/">Go to ZarplataKz</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
</div>
