
        <!-- <header>
            <a href="https://google.com">My account</a>
            <input type="submit" value="Log out"><br>
        </header> -->
    <div>
        <div class = "firstDiv">
            <img src = "https://www.alfajango.com/assets/logos/GG_logo-f4d6a0df3566319f1e329cbd456297aa.png" id="logo-img" alt = "logo" width = "600">
            <hr id="firstLine">
        </div> <!--firstDiv-->
        <div class = "two-three">
          <div class = "secondDiv">
              <h1>Needed landscape designer</h1>
              <img src = "landscape.jpg" id="logo-img" alt = "logo" width = "500">
              <p>
                  Duties:<br>
                  Perform a landscape analysis of the territory.<br>
                  Development of landscape planning solutions.<br>
                  Create sketches of the project.<br><br>
                  Requirements:<br>

                  Higher specialized education.<br>
                  Knowledge of special graphics programs.<br>
                  Sociability.<br><br>
                  Conditions:<br>

                  Official employment, registration in accordance with the legislation of the Republic of Kazakhstan.<br>
                  Timely payment of wages, official wages.
              </p>
          </div> <!--secondDiv-->
          <div class = "thirdDiv">
              <p class = "contact"> Full name: Rysdaulet Aktoty </p><br>
              <p class = "contact"> Address: Kazakhstan, Almaty, Turgut-Ozala 70 </p><br>
              <p class = "contact"> Mob.tel.: +7 777 777 777 </p><br>
              <p class = "contact"> E-mail: aktoty.rysdaulet@gmail.com </p><br>
              <p class = "contact"> Price: 70000-120000 KZT </p><br>
          </div> <!--thirdDiv-->
        </div>
        <hr id="secondLine">

        <div class = "fourthDiv">
            <input type="submit" value="Save job"><br>
        </div> <!--fourthDiv-->
</div>
